button:hover {
    background-color: black !important;
    color: white !important;
    border: 2px solid white !important;
}
.mynavbar{
    background-color:transparent;
    opacity: 1;
    height: 120px;
    display: flex;
    align-items: end;
    justify-content: space-around;
}
.mynavbar:hover {
    background-color: white;
}


.mynavbar a {
    color: white;
    font-size: large;
}
.mynavbar h1{
    color: white;


}
.card{
    box-shadow: none !important; 
}
.mynavbar a:hover{
    border-bottom: 2px solid black;
}

.mynavbar:hover a, .mynavbar:hover h1 {
    color: black;
 
}
.navbar{
    box-shadow: none !important;
}

@media screen and (min-width: 992px) {
  
    /* .mynavbar {
        display: none;
    }

    .mobillogo{
        display: flex;
        justify-content: center;
        align-self: center;
    }
    .yuksekogun{
        display: block;
    }
    .herkesicin{
        display: block;
    } */


    
    .cart{
        display: none;
    }
    .mynavbar a{
        color: black;
    };
    button{
        color: black;
    }
    .mycard{
        display: none;
    }
    .yokbaslik{
        display: none;
    }
    .yok{
        display: block;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}