/* button:hover {
    background-color: black !important;
    color: white !important;
    border: 2px solid white !important;
}




.mynavbar a {
    color: white;
    font-size: large;
}
.mynavbar h1{
    color: white;

} */
