
{% load static %}

<main class="">

<div>
<nav class="navbar navbar-expand-lg navbar-light fixed-top navbarim" style="height: 115px;">
    <div class="container-fluid">
        <!-- Navbar içeriği -->
        <button data-mdb-collapse-init class="navbar-toggler" type="button" data-mdb-target="#navbarCenteredExample" aria-controls="navbarCenteredExample" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse justify-content-center" style="color: white; justify-content: center; align-items: end; position: absolute; top: 50%; right: 50%;" id="navbarCenteredExample">
            <div class="text-black"><h4>Bahs.</h4></div>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>
        </div>

        <!-- Ek öğe navbar'ın üstünde -->
        <div class="text-white" style="background-color: black; height: 45px; align-items: center; display: flex; justify-content: center; position: absolute; top: 0; left: 0; right: 0; z-index: 1000;">
            <h6> <i class="text-warning fa-solid fa-gift"></i> LANSMANA ÖZEL İNDİRİM KODU: BAHS20 <i class="text-warning fa-solid fa-gift"></i></h6>
        </div>
    </div>
</nav>

</div>
    
    
</main>

