{% load static %}

<main>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="height: 120px; background-color: #fff;">
        <div class="container-fluid">
            <button data-mdb-collapse-init class="navbar-toggler" type="button" data-mdb-target="#navbarCenteredExample" aria-controls="navbarCenteredExample" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse justify-content-around align-items-end mynavbar" style="color: #000; background-color: transparent;" id="navbarCenteredExample">
                <div class="text-black">
                    <h4>Bahs.</h4>
                </div>
                <div>
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#">Anasayfa</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Ürünlerimiz</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Kampanyalı paketler</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Blog</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Hakkımızda</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Bize ulaşın</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">bahsPuan</a></li>
                    </ul>
                </div>
                <div>
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item"><a href=""><i class="fas fa-search"></i></a></li>
                        <li class="nav-item"><a href=""><i class="far fa-user"></i></a></li>
                        <li class="nav-item"><a href=""><i class="fas fa-shopping-basket"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="text-white" style="background-color: black; height: 45px; display: flex; align-items: center; justify-content: center; position: absolute; top: 0; left: 0; right: 0; z-index: 1000;">
                <h6> <i class="text-warning fas fa-gift"></i> LANSMANA ÖZEL İNDİRİM KODU: BAHS20 <i class="text-warning fas fa-gift"></i></h6>
            </div>
        </div>
    </nav>
</main>
