{% load static %}
<nav class="navbar navbar-expand-lg  mynavbar  fixed-top" >
    <div class="container">
        <button style="color: white;"  data-mdb-collapse-init class="navbar-toggler" type="button" data-mdb-target="#navbarSupportedContent"  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i  class="fas fa-bars"></i> </button>
        <div><a class="navbar-brand mt-2 mt-lg-0" style="font-size: 40px; font-weight: bold;" href="/">bahs.</a></div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="/">Anasayfa.</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'allPage' %}">Ürünlerimiz.</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'allPage' %}">Kampanyalı Paketler.</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'blogPage' %}">Blog.</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Bize Ulaşın.</a></li>
                <li class="nav-item"><a class="nav-link" href="#">bahsPuan.</a></li>
                
            </ul>
        </div>
        <div class="d-flex align-items-center">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item cart"><a class="nav-link" href=""><i class="fas fa-search"></i></a></li>
                <li class="nav-item cart"><a class="nav-link" href=""><i class="far fa-user"></i></a></li>
                <li class="nav-item cart"><a class="nav-link" href=""><i class="fas fa-shopping-basket "></i></a></li>
            </div>
        </div>
    </div>
    <div class="text-white"style="background-color: black; height: 45px; display: flex; align-items: center; justify-content: center; position: absolute; top: 0; left: 0; right: 0; z-index: 1000;">  <h6> <i class="text-warning fas fa-gift"></i> LANSMANA ÖZEL İNDİRİM KODU: BAHS20</h6> </div>
</nav>