{% extends 'base.html' %}
{% load static %}


{% block body %}
<main>
    <div class="container">
        <h1 class=" text-black fw-bold  text-center" style="font-size: 70px; margin-top: 150px;">Kayıt ol</h1>
        <p style="margin-bottom: 50px;" class="text-center text-black">Lütfen aşşagıdaki boşlukları doldurun.</p>
        <div class="text-center" style="max-width: 600px; margin: auto;">
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3"><input type="text" placeholder="Ad" name="fname" class="form-control"></div>
                <div class="mb-3"><input type="text" placeholder="Soyad" name="lname" class="form-control"></div>
                <div class="mb-3"><input type="text" placeholder="Kullanıcı adı" name="username" class="form-control"></div>
                <div class="mb-3"><input type="text" placeholder="E-posta" name="email"  class="form-control"></div>
                <div class="mb-3"><input type="password" placeholder="Şifre" name="password" class="form-control"></div>
                <button class="btn btn-black" type="submit">Hesap Oluşturun</button>
                <p class="mt-5">Zaten hesabınız var mı? <a style="border-bottom: 2px solid gray ;" href="{% url 'loginPage' %}">Giriş yap</a></p>
            </form>
        </div>
        
    </div>
</main>    
{% endblock body %}



    