{% extends 'base.html' %}
{% load static %}


{% block body %}
    <main>
        <div class="container">
            <h1 class="text-success text-center:">Bize ulaş.</h1>
            <div style="width: 100%; height:100vh; margin: auto; position: relative;">
                
                <div><form method="POST">
                    {% csrf_token %}
                    <div><input type="text" placeholder="Ad" style="width: 30%; height: 40px;"></div>
                    <div><input type="text" placeholder="E-posta" style="width: 30%; height: 40px;"></div>
                    <div><textarea name="mesaj" style="width: 30%;" placeholder="Mesajınız" cols="30" rows="10"></textarea></div>
                    <button style="width: 30%;" class="btn btn-black text-center" type="submit">Gönder</button>
                </form>
            </div>
            </div>
        </div>
    </main>    
{% endblock body %}
    