{% extends 'base.html' %}
{% load static %}

{% block body %}
    <main>
        <div class="container">
            <h1 class=" text-black fw-bold  text-center" style="font-size: 70px; margin-top: 150px; margin-bottom: 50px;">Bize ulaş.</h1>
            
            <div class="text-center" style="max-width: 600px; margin: auto;">
                <form method="POST">
                    {% csrf_token %}
                    
                    <div class="mb-3"><input type="text" placeholder="Ad" class="form-control"></div>
                    <div class="mb-3"><input type="text" placeholder="E-posta" class="form-control"></div>
                    <div class="mb-3"><textarea name="mesaj" class="form-control" placeholder="Mesajınız" cols="30" rows="10"></textarea></div>
                    
                    <button class="btn btn-black" type="submit">Gönder</button>
                </form>
            </div>
            
        </div>
    </main>    
{% endblock body %}
