{% extends 'base.html' %}
{% load static %}


{% block body %}

<main>
    <div class="row">
        <div class=" col-lg-12 col-sm-12">
            <div class="header col-sm-12"
                style="display: flex; justify-content: center; align-items: center; background-color: black; width: 100%; height: 300px; margin-top: 100px;">
                <p style="font-size: 80px; font-weight: bold;" class="text-center text-white">Lansmana özel ek %20
                    indirim. <br> KOD: BAHS20</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" style="margin: auto; margin-top: 120px;">

            {% for i in product_detail %}
            <div class="col-lg-6 col-sm-12">
                <img width="600px" height="600px" src="{{ i.img.url }}" alt="">
            </div>
            <div class="col-lg-6 col-sm-12 col-md-12" style="margin-top: 75px;">
                <h1 class=" text-black fw-bold">{{ i.title }}</h1>
                <p style="font-weight: bold; color: rgb(132, 216, 5);"> {{ i.price }}TL &emsp;<del
                        style="color: black;">{{ i.oldprice }}</del></p>
                <hr>
                <div>
                    <p>{{ i.text }}</p>
                </div>
                <div class="text-center"><button
                        style="background-color: white;  border: 2px solid black; width: 100%; height: 50px; ">Sepete
                        Ekle</button> </div>
                <img src="{% static 'img/teslimat.avif' %}" alt="">
            </div>
            {% endfor %}
        </div>


    </div>
    <h1 class="text-center text-black mt-5">Güne pozitif başlayanlarda!</h1>

    <div class="row my-5 ">
        {% for p in people_img %}
        <div class="col-lg-3 col-sm-12">
            <div class="card">
                <img height="600px" src="{{ p.img.url }}" class="card-img-top" />
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="container">
        <h1 class="text-center my-5 text-black fw-bold">bahs. öğün tozu ile <br> hedeflerine ulaş!</h1>
        <p class="text-center my-2 fw-bold text-black">Öğün tozu ile hedeflerinize kolayca ulaşabilirsiniz. Kilo verme,
            kas kazanma veya sağlıklı <br> beslenmek için sizlere yardımcı olacaktır.</p>

        <div class="row my-5">
            {% for s in saglik_list  %}
            <div class="col-lg-4 col-sm-12">
                <div>
                    <div class="card">
                        <img width="400px" class="card-img-top" src="{{ s.img.url }}" alt="">
                        <h3 class="text-center text-black fw-bold">{{ s.title }}</h3>
                        <p class="text-center text-black fw-bold">{{ s.text }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
       
        <section>
            <div class="comments-list">
                <div class="section-heading text-light">

                    {% if comment_list %}
                    <div class="fs-4 fw-bold my-5"> <h2 class="text-center text-black fw-bold">Müşteri Yorumları</h2></div>
                    {% else %}
                    <div class="fs-4 fw-bold my-3 text-black">Yorum Bulunmuyor</div>
                    {% endif %}

                </div>

                {% for i in comment_list %}
                <div class="row" style="display: flex; align-items: center; justify-content: center; ">
                    <div class="col-sm-12 col-12 my-2 " style="padding: 25px; width:75%; height: 150px; border-radius: 40px; border: 2px solid black; background-color: rgb(240, 238, 238);">  
                        <div class="d-flex justify-content-between">
                            <div style="width: 33%;" class=" fw-bold">{{ i.user }}</div>
                            <div  >
                               <div>
                                <i style="color: gold;" class=" fa-solid fa-star"></i>
                                <i style="color: gold;" class=" fa-solid fa-star"></i>
                                <i style="color: gold;" class=" fa-solid fa-star"></i>
                                <i style="color: gold;" class=" fa-solid fa-star"></i>
                                <i style="color: gold;" class=" fa-solid fa-star"></i>
                                <i  class="text-black">Başarılı</i>
                                <p class="comment-text my-2">{{ i.text }}</p>
                               </div>
                               
                                </div>
                                
                            <div style="width: 33%;" class="text-end"><i  class=" fa fa-clock-o"></i> {{ i.date_now }}</div>
                        </div>
                        <div class="card-data">
                            <ul class="list-unstyled">
                                <li class="comment-date"></li>
                            </ul>
                        </div>
                    </div>

                </div>
                {% endfor %}

            </div>
        </section>
        <hr class="between-sections">
        <section>
            <div class="reply-form">
                <div class="fs-4 fw-bold my-3 text-black">Yorum Yap</div>
                <div class="row">
                    <!--Content column-->
                    <div class="col-sm-12 col-12">
                        <form method="POST">
                            {% csrf_token %}
                            <textarea name="text" cols="30" rows="6" class="form-control"
                                placeholder="Yorum Yazınız"></textarea>
                            <div class="text-end my-3">
                                <button class="btn btn-light text-black" type="submit">Paylaş</button>
                            </div>
                        </form>
                    </div>
                    <!--/.Content column-->
                </div>
                <!--/.Third row-->
            </div>
        </section>
        <!-- COMMENT END -->
    </div>
</main>


{% endblock body %}