{% extends 'base.html' %}
{% load static %}

{% block body %}
<main>
        <!-- Carousel -->   
        <div>
            <div id="carouselExampleIndicators" class="carousel slide" data-mdb-ride="carousel" data-mdb-carousel-init>
             
                <div class="carousel-indicators">
                    <div><button style="height: 20px; width: 200px; position: absolute; top: 78%; right: 43%; background-color: black;  color: rgb(255, 255, 255);">Hemen Dene.</button>  </div>
                   <div>
                    <button type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide-to="2" aria-label="Slide 3"></button>
                    <button type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide-to="3" aria-label="Slide 4"></button>
                    <button type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide-to="4" aria-label="Slide 5"></button>
                   </div>
                </div>

                <div class="carousel-inner">
                    <div class="carousel-item active"><img class="d-block w-100" src="{% static 'img/slider1.webp' %}" alt="Slide 1"></div>
                    <div class="carousel-item"><img class="d-block w-100" src="{% static 'img/slider2.webp' %}" alt="Slide 2"></div>
                    <div class="carousel-item"><img class="d-block w-100" src="{% static 'img/slider3.webp' %}" alt="Slide 3"></div>
                    <div class="carousel-item"><img class="d-block w-100" src="{% static 'img/slider4.webp' %}" alt="Slide 4"></div>
                    <div class="carousel-item"><img class="d-block w-100" src="{% static 'img/slider5.webp' %}" alt="Slide 5"></div>
                </div>

                <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <div class="container">
            <h1 class="heading h1 text-black text-center text-bold m-5" style="font-size: 60px; font-weight: bold;">Kampanyalı Paketler.</h1>
            <div class="row">
                {% for i in firstproducts  %}
                <div class="col-3">
                    
                    <div class= "card">
                        <img src= "{{ i.img.url }}" alt="">
                        <a class="text-center text-black fw-bold" href="">{{ i.title }}</a>
                
                        <div style="display: flex; justify-content: center;">
                            <p style="font-weight: bold; color: rgb(132, 216, 5);"> {{ i.price }}&emsp;<del style="color: black;">{{ i.oldprice }}</del></p>
                        </div>
                     
                        <div class="text-center"><button  style="background-color: white;  border: 2px solid black; width: 135px; height: 50px; ">Sepete Ekle</button> </div>
                    </div>
                    
                </div>
                {% endfor %}
            </div>
            <div style="display: flex; justify-content: center; margin-top: 200px;">
                <div><img width="600px" height="550px" src="{% static 'img/bosresim4.webp' %}" alt=""></div>
                <div style="width: 100% ;display: flex; justify-content: center; align-items: center;">
                    <div>
                        <h1 style="color: black; font-weight: bold;"  >Yüksek Öğün Tozu</h1>
                        <p >Yüksek öğün tozu ile hedeflerinize kolayca ulaşabilirsiniz. Kilo verme, kas <br> kazanma veya sağlıklı beslenmek için sizlere yardımcı olacaktır.</p>
                    </div>
                </div>
            </div>


            <h1  class="heading h1 text-black text-center text-bold " style="margin-top: 120px; font-size: 75px; font-weight: bold;">Yüksek proteinli bar.</h1>
            <div class="d-flex justify-content-center" style="margin-top: 100px;" >
                {% for i in secondproducts %}
                <div class="mx-3" style="text-align: -webkit-center;">
                    <div style="width: 300px; height: 300px;" class= "justify-content-center card">
                        <img src= "{{ i.img.url }}" alt="">
                        <a class="text-center text-black fw-bold" href="">{{ i.title }}</a>
                
                        <div style="display: flex; justify-content: center;">
                            <p style="font-weight: bold; color: rgb(132, 216, 5);"> {{ i.price }}&emsp;<del style="color: black;">{{ i.oldprice }}</del></p>
                        </div>
                    </div>
                </div>   
                {% endfor %}
            </div>
        </div>



        <div class="a" style="margin-top: 120px; display: flex; justify-content: center; width: 100%; height: 750px;">
            <div style="width: 50%;" class="position-relative">
                <div style="background-color: orangered; width: 70%; height: 650px;"></div>
                <div >
                    <img width="60%" height="575px" style="position: absolute; bottom: 19%; left: 20%;" src="{% static 'img/bosresim.webp' %}" alt="">
                </div>
            </div>
            <div style="width: 50%; height: auto; display: flex; justify-content: center; align-items: center;">
                <div class="mybuttondiv">
                    <h1 style="font-weight: bold; font-size: 50px; color: black;" class="text-center">Herkes için sağlıklı <br> atıştırmalıklar</h1>
                    <p class="text-center">Enerji için hurma, bağışıklık için probiyotikler, kas iyileşmesi için protein. <br> Bitkisel proteinler açısından çok zengin ve doğal şeker dışında ilave <br> şeker bulunmayan bu atıştırmalık, protein alımını sağlıklı bir şekilde <br> artırmak isteyen sporcular için antrenman öncesi veya sonrası ideal bir <br> atıştırmalıktır.</p>
                    <div class="text-center mybutton"><button style="background-color: white;  border: 2px solid black; color: black; width: 200px; height: 70px;">Hemen keşfet.</button></div>
                </div>
            </div>
        </div>


    </main>
    <!-- MDB -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.umd.min.js"></script>
{% endblock body %}
