{% extends 'base.html' %}
{% load static %}

{% block body %}
<main>
        <!-- Carousel -->   
        <div>
            <div id="carouselExampleIndicators" class="carousel slide" data-mdb-ride="carousel" data-mdb-carousel-init>
             
                <div class="carousel-indicators">
                    <div><button style="height: 20px; width: 200px; position: absolute; top: 78%; right: 43%; background-color: black;  color: rgb(255, 255, 255);">Hemen Dene.</button>  </div>
                   <div>
                    <button type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide-to="2" aria-label="Slide 3"></button>
                    <button type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide-to="3" aria-label="Slide 4"></button>
                    <button type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide-to="4" aria-label="Slide 5"></button>
                   </div>
                </div>

                <div class="carousel-inner">
                    <div class="carousel-item active"><img class="d-block w-100" src="{% static 'img/slider1.webp' %}" alt="Slide 1"></div>
                    <div class="carousel-item"><img class="d-block w-100" src="{% static 'img/slider2.webp' %}" alt="Slide 2"></div>
                    <div class="carousel-item"><img class="d-block w-100" src="{% static 'img/slider3.webp' %}" alt="Slide 3"></div>
                    <div class="carousel-item"><img class="d-block w-100" src="{% static 'img/slider4.webp' %}" alt="Slide 4"></div>
                    <div class="carousel-item"><img class="d-block w-100" src="{% static 'img/slider5.webp' %}" alt="Slide 5"></div>
                </div>

                <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <div class="container">
            <h3 class="heading h1 text-black text-center text-bold m-5">Kampanyalı Paketler.</h3>
            <div class="row">
                {% for i in firstproducts  %}
                <div class="col-3">
                    
                    <div class= "card">
                        <img src= "{{ i.img.url }}" alt="">
                        <a href="">{{ i.title }}</a>
                        <small>{{ i.price }}</small>
                        <button>Sepete Ekle</button>
                    </div>
                    
                </div>
                {% endfor %}
            </div>
            <div style="display: flex; justify-content: center;">
                <div><img width="70%" height="550px" src="{% static 'img/bosresim4.webp' %}" alt=""></div>
                <div style="width: 30% ;display: flex; justify-content: center; align-items: center;">
                    <h2>Yüksek Öğün Tozu</h2>
                    <p >Yüksek öğün tozu ile hedeflerinize kolayca ulaşabilirsiniz. Kilo verme, kas kazanma veya sağlıklı beslenmek için sizlere yardımcı olacaktır.</p>
                </div>
            </div>


            <h3 class="heading h1 text-black text-center text-bold m-5">Yüksek proteinli bar.</h3>
            <div class="d-flex justify-content-center" >
                {% for i in secondproducts %}
                <div class="mx-3" style="text-align: -webkit-center;">
                    <div style="width: 300px; height: 300px;" class= "justify-content-center card">
                        <img width="300px" height="400px" src="{{ i.img.url }}" alt="">
                        <a href="">{{ i.title }}</a>
                        <small>{{ i.price }}</small>
                        <button>Sepete Ekle</button>
                    </div>
                </div>   
                {% endfor %}
            </div>
        </div>
        <div style="margin-top: 120px; display: flex; justify-content: center; width: 100%; height: 750px;">
            <div class="position-relative">
                <div style="background-color: orangered; width: 70%; height: 700px;"></div>
                <div >
                    <img width="60%" height="650px" style="position: absolute; bottom: 3.5%; left: 20%;" src="{% static 'img/bosresim.webp' %}" alt="">
                </div>
            </div>
            <div   style="text-align: -webkit-center; width: 40%; height: auto; justify-content: center; align-items: center;">
                <h2>Herkes için sağlıklı atıştırmalıklar</h2>
                <p>Enerji için hurma, bağışıklık için probiyotikler, kas iyileşmesi için protein. Bitkisel proteinler açısından çok zengin ve doğal şeker dışında ilave şeker bulunmayan bu atıştırmalık, protein alımını sağlıklı bir şekilde artırmak isteyen sporcular için antrenman öncesi veya sonrası ideal bir atıştırmalıktır.</p>
                <button style="border: 2px solid black; color: black; width: 200px; height: 150px;">Hemen keşfet.</button>
            </div>
        </div>
        <div class="my-5">
            <div class="row">
                <div class="col-6 text-center">
                    <h2>Herkes için sağlıklı atıştırmalıklar</h2>
                    <p>Enerji için hurma, bağışıklık için probiyotikler, kas iyileşmesi için protein. Bitkisel proteinler açısından çok zengin ve doğal şeker dışında ilave şeker bulunmayan bu atıştırmalık, protein alımını sağlıklı bir şekilde artırmak isteyen sporcular için antrenman öncesi veya sonrası ideal bir atıştırmalıktır.</p>
                    <button style="border: 2px solid black; color: black; width: 200px; height: 150px;">Hemen keşfet.</button>
                </div>
                <div class="col-6">
                    <div >
                        <img width="60%" height="650px" src="{% static 'img/bosresim2.webp' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div>
            <img width="100%" height="600px" src="{% static 'img/bosresim3.webp' %}" alt="">
        </div>



    </main>
    <!-- MDB -->
<script
type="text/javascript"
src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.umd.min.js"
></script>
{% endblock body %}
